.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // position: fixed;
  padding: 50px 0 10px;
  z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 98px;
}

.logo {
  position: relative;
  color: white;
  z-index: 1;

  ::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 59px;
    height: 2px;
    background-color: #86da44;
    transition: all 0.5s ease;
  }
  :hover::after {
    width: 96px;
  }

  h3 {
    color: var(--, #fff);
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}

.navbar__list {
  display: flex;
  gap: 46px;

  &_info {
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    a {
      color: white;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 136.2%; /* 24.516px */
    }
    .frist{ 
      color: #86da44;
    }
  }
  &_info:first-child {
    color: #86da44;
  }
  :hover {
    color: #86da44;
  }
}



.links {
  display: flex;
  gap: 14px;
}

.burger_menu {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  display: none;

  span {
    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 20px;
    transition: all 0.3s ease;
  }

  .top {
    transform: rotate(-45deg) translate(-6px) translateY(5px);
  }

  .bottom {
    transform: rotate(48deg) translate(-6.5px) translateY(-5px);
  }

  .center {
    opacity: 0;
  }
  @include mobile() {
    display: flex;
  }
}

@include tablet() {
  .links {
    display: none;
  }
  .left {
    gap: 40px;
  }
}

@include mobile() {
  .links {
    display: none;
  }
  .close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
    background-color: gray;
    transform: translateX(-100%);
    transition: all 0.4s ease;
  }

  .header {
    padding-top: 20px;
  }
}

.open {
  transform: translateX(0%);
}
